nav {
    margin-bottom: 2em;
}
h1 {
    text-align: center;
    font-family: "lato";
    margin-bottom: 0.5em;
}
div.sample {
    text-align : center ;
    margin-left: 25%;
    margin-right : 25%;
}
#main{
    margin-top:5em;
}
nav ul li{
    margin: 0 20px;
}
.navbar-brand {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2.75em;
}
footer{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.75em;
}
footer div a{
    margin: 0 100px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
h5{
    font-family: 'Ropa Sans', sans-serif;
    text-align: center;
    font-size: 2em;
}
.btn{
    background-color:#B3D7B5 !important;
    border-color: #B3D7B5 ;
    color: grey;
    margin-top: 1em;
}
h1{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2.5em;
}
.card-header{
    margin-bottom: 1em;
}

.col{
    margin-bottom: 4em;
}
.first-card{
    margin-top: 1em;
}
.card-text-o{
    text-align: end;
}
@media only screen and (min-width : 1224px){
    footer div a{
        margin: 0 20px;
    }
}

#parametre{
    margin-right: 50;
}

.form-gap {
    padding-top: 70px;
}