{% extends "base.html" %}
{% block main %}
<article>
<h1>{{title}}</h1>

<!-- fiche abonnement -->
  <div class="col text-center">
    <div class="card text-center" style="background-color: #EEF8E8;">

      <div class="card-header">
        {{typeAbonnement}}
      </div>

      <div class="card-body" >
        <h5 class="card-title" style="color: #68884E;">{{prix}}</h5>
        {% for x in caracteristique %}
        <p class="card-text" style="text-align: center;">{{x}}</p>
        {% endfor %}

      </div>
  </div>

  <!-- bouton -->

  <div class="col text-center">
    <a href="{{ url_for('accueil') }}" class="btn btn-outline-success btn-lg btn-lg">Annuler son abonnement</a>
    <a href="{{ url_for('abonnement_test') }}" class="btn btn-success btn-lg btn-lg">Modifier son abonnement</a>
  </div>

</article>
{% endblock %}