{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
<link href="https://fonts.googleapis.com/css?family=Ropa+Sans:regular,italic" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<!-- Jquery -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
</script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block navbar %}
<body>
<nav class="navbar navbar-expand-md navbar navbar-light" style="background-color: #acda87;">
  <a class="navbar-brand" href="{{ url_for('accueil') }}">
    <img src="{{ url_for('static',filename='Images/logoprojet-removebg-preview.png') }}" width="70" height="70" alt="green-sensor">
  </a>
  <a class="navbar-brand" href="{{ url_for('accueil') }}">Green sensor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('accueil') }}">Accueil</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('mesgroupes_post') }}">Mes groupes</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('outilsAnalyse') }}">Outils d'analyse</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('contact_get') }}">Contact</a></li>
      </ul>
    <ul class ="navbar-nav ml-auto">
      <a href="{{ url_for('connexion_get') }}"><img id="connexion" src = "{{ url_for('static',filename='Images/user.png') }}" width="40" height="40" alt="connexion" ></a></li>
      <li class="nav-item" id="connexion"><a class="nav-link " href="{{ url_for('connexion_get') }}">Se connecter</a></li>
    </ul>
  </div>
</nav>

{% endblock %}
  <header></header>
  {% block content %}
    <main role="main">
      {% block main %}{{ super() }}{% endblock %}
    </main>


  {% block footer %}
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: #acda87;">
      <a class="text-dark" href="#">© 2022 Green Sensor</a>
      <a class="text-dark" href="{{ url_for('presentation') }}">Présentation de Green Sensor</a>
      <a class="text-dark" href="{{ url_for('charteGraphique') }}">Charte graphique du site</a>
    </div>
  </footer>
</body>
  {% endblock %}
{% endblock %}
