{% extends "base.html" %}
{% block main %}
<article>
    <div class="mb-5">
        <h1 class="gauche">Notre logo</h1>
    </div>
    <div class="mb-5">
        <div class="row justify-content-center">
            <div class="col-sm-0">
                <img src="{{ url_for('static',filename='Images/logo_avec_fond.png') }}" width="300" height="300" alt="Logo Green Sensor Avec titre">
            </div>
            <div class="col-sm-0">
                <img src="{{ url_for('static',filename='Images/logo_seul.png') }}" width="300" height="300" alt="Logo Green Sensor Sans titre">
            </div>
        </div>
    </div>
    <div class="mb-5">
        <h1 class="gauche">Les couleurs</h1>
        <div class="row justify-content-center">
            <div class="col-sm-0">
                <img src="{{ url_for('static',filename='Images/palette_color.png') }}" width="600" height="600" alt="Palette">
            </div>
        </div>
    </div>
    <div class="mb-5">
        <h1 class="gauche">Les polices</h1>
    </div>
    <div class="mb-5">
        <div class="row justify-content-center">
            <div class="col-sm-0">
                <img src="{{ url_for('static',filename='Images/Roboto.png') }}" alt="Roboto">
            </div>
            <div class="col-sm-0">
                <img src="{{ url_for('static',filename='Images/Ropa_Sans.png') }}"alt="Ropa Sans">
            </div>
        </div>
    </div>
</article>
{% endblock %}