{% extends "base.html" %}
{% block main %}
<article>
    <h1>Créer ton Groupe</h1>
    <div class="row">
        <div class="col">
            <p><small class="text-muted">Personnalise ton groupe en choisissant un nom et une icône.</br> Tu pourras toujours les modifier plus tard.</small></p>
        </div>
    </div>
    <form>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">

        </div> 
    </form>
</article>
{% endblock %}