{% extends "base.html" %} {% block main %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
<style type="text/css">
    #map {
        /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
        height: 800px;
        width: 200px;
    }
</style>
<div class="row">
    <div class="col">
        <h1 style="color: #68884E;">{{title}}</h1>
    </div>
    <div class="col">
    </div>
    <div class="col">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
    <div class="col">
        <a href="{{ url_for('detailsCapteurModifier_parGroupe') }}">
            <img src="{{ url_for('static',filename='Images/parametres.png') }}" width="40" height="40" alt="plus" id="parametre">
        </a>
        <a href="{{ url_for('ajoutCapteur') }}">
            <img src="{{ url_for('static',filename='Images/plus.png') }}" width="40" height="40" alt="plus">
        </a>
    </div>
</div>
<div class="row">
    <div id="map" class="col">
        <!--carte -->

    </div>
    <div class="col">
        <h2>{{title2}}</h2>
        <div class="card text-center" style="background-color: #EEF8E8;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3 class="card-text" style="text-align: center;">Nom du capteur</p>
                    </div>
                    <div class="col">
                        <h3 class="card-text" style="text-align: center;">Statut du capteur</p>
                    </div>
                </div>

                {% for c in capteurs %}                
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static',filename='Images/location.png') }}" width="40" height="40" alt="plus">
                    </div>
                    <div class="col">
                        <a href="/FicheIdentiteCapteur/{{ c.idCap }}">
                            <h4>{{ c.nomCap }}</h4>
                        </a>
                        <p>Capteur {{c.typeCap}}</p>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        {% if c.statusCap == "Terminé" %}
                        <img src="{{ url_for('static',filename='Images/green_point.png') }}" width="40" height="40" alt="plus">
                        {% else %}
                        <img src="{{ url_for('static',filename='Images/red_point.png') }}" width="40" height="40" alt="plus">
                        {% endif %}
                    </div>
                    <div class="col">
                        <p>{{c.statusCap}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>


<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: #acda87;">
        <a class="text-dark" href="#">© 2022 Green Sensor</a>
        <a class="text-dark" href="#">Utilisation des cookies</a>
        <a class="text-dark" href="#">Presentation de Green Sensor</a>
        <a class="text-dark" href="#">Mentions légales</a>
    </div>
</footer>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script>
    // On initialise la latitude et la longitude de Paris (centre de la carte)
    let lat = 47.844400;
    let lon = 1.934917;
    let macarte = null;



    // Fonction d'initialisation de la carte
    function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
        macarte = L.map('map').setView([lat, lon], 11);
        // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
            minZoom: 1,
            maxZoom: 20
        }).addTo(macarte);
        // Nous parcourons la liste des villes
        {% for c in capteurs %}
            {% if c.geolocalCapX != None and c.geolocalCapY != None and c.statusCap == 'Terminé' %}
            let coords{{ c.idCap }} = ["{{ c.geolocalCapX }}", "{{ c.geolocalCapY }}"];
            let marker{{ c.idCap }} = L.marker(coords{{ c.idCap }}).addTo(macarte);
            marker{{ c.idCap }}.bindPopup("{{ c.nomCap }}");
            {% endif %}
        {% endfor %}
    }
    window.onload = function() {
        // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
        initMap();
    };
</script>
<!-- changer la police/la taille des autres titres
rajouter le footer
changer les icons
ajouter des liens au titre des capteurs -->

{% endblock %}