{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
<style type="text/css">
    #map {
        /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
        height: 800px;
        width: 800px;
    }
</style>
<article>
    <div class="row">
        <div class="col">
            <img id="pointeurLocalisation1" src = "{{ url_for('static',filename='Images/pointeur-localisation-1.png') }}" width="50" height="70" alt="pointeur" >
        </div>
        <div class="col-12 col-md-8">
            <h1>{{title}}: {{capteur.nomCap}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if capteur.derConsultation == None %}
            <p>Le capteur n'a pas encore était consulté</p>
            {% else %}
            <p>Dernière consultation le {{ capteur.derConsultation }} </p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card text-center" style="background-color: #EEF8E8;">
                <div class="card-body" >
                    <div class ="row">
                        <div class ="col">
                            <h3 class="card-text" style="text-align: center;">Fiche d’identité du capteur {{ capteur.nomCap }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <p class="card-text-left">{{ capteur.infoCap }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="map" class="col">
                <!--carte -->
            </div>
            <p>Dernières données relevées : </p>
        </div>
    </div>
</article>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script>
    // On initialise la latitude et la longitude de Paris (centre de la carte)
    let lat = 47.844400;
    let lon = 1.934917;
    let macarte = null;



    // Fonction d'initialisation de la carte
    function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
        macarte = L.map('map').setView([lat, lon], 11);
        // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
            minZoom: 1,
            maxZoom: 20
        }).addTo(macarte);
        
            {% if capteur.geolocalCapX != None and capteur.geolocalCapY != None and capteur.statusCap == 'Terminé' %}
            let coords{{ capteur.idCap }} = ["{{ capteur.geolocalCapX }}", "{{ capteur.geolocalCapY }}"];
            let marker{{ capteur.idCap }} = L.marker(coords{{ capteur.idCap }}).addTo(macarte);
            marker{{ capteur.idCap }}.bindPopup("{{ capteur.nomCap }}");
            {% endif %}
    }
    window.onload = function() {
        // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
        initMap();
    };
</script>
{% endblock %}