{% extends "base.html" %}
{% block main %}
<h1>{{title}}</h1>
<article>
    <form role="form" method="POST" action="{{ url_for('modifierCapteur',id=c.idCap) }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                    <h2>Définir un capteur :</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="mb-3">
                    {{ form.id(type="number", class_="form-control", placeholder=c.idCap) }}
                    <!--<input type="number" class="form-control" id="idCapteur" placeholder="Identifiant du capteur">-->
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="mb-3">
                    {{ form.nom(type="text" ,class_="form-control", placeholder=c.nomCap ) }}
                    <!--<input type="text" class="form-control" id="nomCapteur" placeholder="Nom du capteur">-->
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="mb-3">
                    {{ form.type(type="text", class_="form-control", placeholder=c.typeCap ) }}
                    <!--<input type="text" class="form-control" id="typeCapteur" placeholder="Type">-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Caractéristiques :</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="mb-3">
                    {{ form.car(type="text", class_="form-control", placeholder=c.infoCap) }}
                    <!--<input type="text" class="form-control" id="caracteristique" placeholder="Caractéristique ">-->
                </div>
            </div>
        </div>

        <div class="col text-center">
            <button type="submit" class="btn btn-success btn-lg btn-lg">Valider</button>
        </div>


    </form>


{% endblock %}