{% extends "base.html" %}
{% block main %}

<div class="Analyse">
  <h1 id="titrePageAnalyse">Afficher mes capteurs</h1>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="CheckCapteur1">
    <label class="form-check-label" for="CheckCapteur1">
        Capteur M97534MK
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="CheckCapteur2">
    <label class="form-check-label" for="CheckCapteur2">
        Capteur M93098XI
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="CheckCapteur3">
    <label class="form-check-label" for="CheckCapteur3">
        Capteur M73458XO
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="CheckCapteur4">
    <label class="form-check-label" for="CheckCapteur4">
        Capteur M94324MK
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="AllCapteur">
    <label class="form-check-label" for="AllCapteur">
        Tous les capteurs
    </label>
  </div>

<div class="row">
  <div class="col-6">
    <div id="Canvas1">
      <canvas id="myChart1"></canvas>
    </div>
  </div>
  <div class="col-6">
    <div id="Canvas2">
      <canvas id="myChart2"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div id="Canvas3">
      <canvas id="myChart3"></canvas>
    </div>
  </div>
  <div class="col-6">
    <div id="Canvas4">
      <canvas id="myChart4"></canvas>
    </div>
  </div>
</div>

<script>

  let mois = ['Janvier','Fevrier','Mars','Avril','Mai','Juin'
  ,'Juillet','Aout','Septembre','Octobre','Novembre','Decembre'];
  
  // donnee

  let donnee1 = [0, 10, 5, 2, 20, 30, 45, 10, 12, 100, 60, 12];
  let donnee2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];
  let donnee3 = [0, 15, 10, 40, 20, 30, 45, 10, 12, 50, 60, 20];
  let donnee4 = [0, 9, 60, 2, 5, 30, 60, 10, 30, 10, 70, 50];

  // abscisse
  const labels = mois


  const data = {
    labels: labels,
    datasets: [{
      label: 'Taux dhumidité',
      backgroundColor: 'rgb(176, 234, 164)',
      borderColor: 'rgb(106, 191, 87)',
      data: donnee1,
      fill: true,
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Capteur M97534MK',
        font: {
          size: 20,
          family: 'Roboto',
          weight: 'normal'
        },
      }
    }
  }

  };


  const data1 = {
    labels: labels,
    datasets: [{
      label: 'Taux de luminosité',
      backgroundColor: 'rgb(176, 234, 164)',
      borderColor: 'rgb(106, 191, 87)',
      data: donnee2,
      fill: true,
    }]
  };

  const config1 = {
    type: 'line',
    data: data1,
    options: {
      responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Capteur M93098XI',
        font: {
          size: 20,
          family: 'Roboto',
          weight: 'normal'
        },
      }
    }
  }

  };


  const labels2 = mois
  const data2 = {
    labels: labels,
    datasets: [{
      label: 'Température',
      backgroundColor: 'rgb(176, 234, 164)',
      borderColor: 'rgb(106, 191, 87)',
      data: donnee3,
      fill: true,
    }]
  };

  const config2 = {
    type: 'line',
    data: data2,
    options: {
      responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Capteur M94324MK',
        font: {
          size: 20,
          family: 'Roboto',
          weight: 'normal'
        },
      }
    }
  }

  };


  const data3 = {
    labels: labels,
    datasets: [{
      label: 'Météo',
      backgroundColor: 'rgb(176, 234, 164)',
      borderColor: 'rgb(106, 191, 87)',
      data: donnee4,
      fill: true,
    }]
  };

  const config3 = {
    type: 'line',
    data: data3,
    options: {
      responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Capteur M94324MK',
        font: {
          size: 20,
          family: 'Roboto',
          weight: 'normal'
        },
      }
    }
  }

  };
</script>


<script>
  $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){

            if($("#CheckCapteur1").is(":checked")){
              let myChart1 = new Chart(
              document.getElementById('myChart1'),config);
            }
            else if($("#CheckCapteur2").is(":checked")){
              let myChart2 = new Chart(
              document.getElementById('myChart2'),
              config1
                );
            }
            else if($("#CheckCapteur3").is(":checked")){
              let myChart3 = new Chart(
              document.getElementById('myChart3'),
              config2
                );
            }
            else if($("#CheckCapteur4").is(":checked")){
              let myChart4 = new Chart(
              document.getElementById('myChart4'),
              config3
                );
            }



            else if($("#AllCapteur").is(":checked")){
              let myChart1 = new Chart(
              document.getElementById('myChart1'),
              config
                );
              let myChart2 = new Chart(
              document.getElementById('myChart2'),
              config1
                );
              let myChart3 = new Chart(
              document.getElementById('myChart3'),
              config2
                );
              let myChart4 = new Chart(
              document.getElementById('myChart4'),
              config3
                );
            }
            
            else if($("#AllCapteur").is(":not(:checked)")){
              $('#myChart1').remove();
              $('#Canvas1').append('<canvas id="myChart1"></canvas>');

              $('#myChart2').remove();
              $('#Canvas2').append('<canvas id="myChart2"></canvas>');

              $('#myChart3').remove();
              $('#Canvas3').append('<canvas id="myChart3"></canvas>');

              $('#myChart4').remove();
              $('#Canvas4').append('<canvas id="myChart4"></canvas>');
           
            }
            else if($("#CheckCapteur1").is(":not(:checked)")){
              $('#myChart1').remove();
              $('#Canvas1').append('<canvas id="myChart1"></canvas>');
            }
            else if($("#CheckCapteur2").is(":not(:checked)")){
              $('#myChart2').remove();
              $('#Canvas2').append('<canvas id="myChart2"></canvas>');
            }
            else if($("#CheckCapteur3").is(":not(:checked)")){
              $('#myChart3').remove();
              $('#Canvas3').append('<canvas id="myChart3"></canvas>');
            }
            else if($("#CheckCapteur4").is(":not(:checked)")){
              $('#myChart4').remove();
              $('#Canvas4').append('<canvas id="myChart4"></canvas>');
            }
        });
    });
</script>

{% endblock %}