{% extends "base.html" %}
{% block main %}
<h1>{{title}}</h1>
<article>
<div class="row g-2">
    <div class="col-md-7">
<div class="card text-center" style="background-color: #EEF8E8;">
    <div class="card-header">
        <h2>Détails des paiements</h2>
    </div>
    <div class="card-body" >
        <div class ="form-row">
            <label for="NumeroCarte">Numéro de carte</label>
            <input type="text" class="form-control" id="NumeroCarte" placeholder="">
        </div>
        <div class ="form-row">

                <label for="DateExpiration">Date d'expiration</label>
            </div>
            <div class ="form-row">
                <div class="form-group col-md-3">
                <input type="number" class="form-control" id="NumeroCarte" placeholder="Mois" min="0" max="12">
                </div>
                <p id="betweenMoisAnnee">/</p>
                <div class="form-group col-md-4">
                <input type="number" class="form-control" id="NumeroCarte" placeholder="Année" min="2022" max="2030" >
                </div>
                <div class="form-group col-md-4">
                    <input type="number" class="form-control" id="Cryptogramme" placeholder="Cryptogramme visuel" maxlength="3">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="card" style="background-color: #EEF8E8;">
        <div class="card-body">
            <h5 class="card-header">Vous vous abonnez à Green Sensor</h5>
            <p class="card-text">{{typeAbonnement}}</p>
            <p class="card-text">TOTAL :</br> TVA applicable incluse. </br>70,90€</p>
            <a href="{{ url_for('contact_get') }}"> <p class="card-text">Besoin d’aide ? Contacter l’assistance clientèle</p></a>
            </div>
        </div>
    </div>
</div>
<div class="col text-center">
    <a href="{{ url_for('accueil') }}" class="btn btn-outline-success btn-lg btn-lg">Annuler le paiement</a>
    <a href="{{ url_for('accueil') }}" class="btn btn-success btn-lg btn-lg">S'abonner</a>
</div>
</article>
{% endblock %}