{% extends "base.html" %}
{% block main %}
<h1>Présentation de Green Sensor : </h1>
<article>
    <div class="row">
        <div class="col">
            <p>Green Sensor est né d’un projet étudiant à l’IUT Informatique d’Orléans par Valentin Hustache, Damien Rian, Valentine Lacan, Alexia Koukougnon, Mélissa Marco et Wassan Hattab.</p>
        </div>
        <div class="col">
            <p>Le concept du site est d’offrir la possibilité à des maraîchers de pouvoir suivre l’évolution des paramètres (températures, humidité...) de leurs cultures en serre à distance. C’est un premier pas vers l’automatisation des serres que nous essayons de créer, le maraîcher aura accès grâce à ce site aux informations récupérées par les capteurs et pourra mieux gérer leurs serres et augmenter leurs rendements. </p>
        </div>
        <div class="col">
            <p>Nous offrons d’autres fonctionnalités comme la création de graphiques ou même la création de groupe avec des capteurs communs.</p>
        </div>
    </div>
</article>
{% endblock %}