{% extends "base.html" %}
{% block main %}
<div class="row">
  <div class="col">
    <h1>{{title}}</h1>
  </div>
</div>
<form>
  <div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card" style="background-color: #EEF8E8;">
        <div class="card-body">
          <p class="card-text font-weight-bold">Veuillez entrer votre adresse e-mail ou votre numéro de mobile pour rechercher votre compte.</p>
          
          <div class="mb-6">
            <label for="EmailMdpOublie">E-mail</label>
            <input type="email" class="form-control form-control-lg" id="EmailConnexion" placeholder="Mettez votre E-mail">
          <input type="hidden" class="hide" name="token" id="token" value="">   
        </div>

        </div>
        </div>
    </div>
</div>
<div class ="row">
  <div class="col text-center">
      <button type="submit" class="btn btn-success btn-lg btn-lg">Valider</button>
      </div>
</div>
</form>
{% endblock %}