{% extends "base.html" %}
{% block main %}
<article>
    <div class="row justify-content-center">
        <h1>{{title}}</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="mb-5">
                <div class="card text-center" style="background-color: #EEF8E8;">
                    <div class="card-header">
                        {{typeAbonnement}}
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title" style="color: #68884E;">{{prix}}</h5>
                            {% for x in caracteristique %}
                        <p class="card-text" style="text-align: center;">{{x}}</p>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <a href="{{ url_for('paiement_abonnement') }}"><img src="{{ url_for('static',filename='Images/cb.jpg') }}" width="175" height="100" alt="cb" class ="paiement"></a>
        <a href="{{ url_for('paiement_abonnement') }}"><img src="{{ url_for('static',filename='Images/visa.png') }}" width="175" height="100" alt="visa" class ="paiement"></a>
        <a href="{{ url_for('paiement_abonnement') }}"><img src="{{ url_for('static',filename='Images/MasterCard.png') }}" width="175" height="100" alt="mastercard" class ="paiement"></a>
        <a href="{{ url_for('paiement_abonnement') }}"><img src="{{ url_for('static',filename='Images/Paypal.jpg') }}" width="175" height="100" alt="paypal" class ="paiement"></a>
    </div>
    
</article>
{% endblock %}
